<!doctype html>
<html lang="en">
    <head>
        <title>Random Pics</title>
        <style>
            body {
                background: black;
                color: white;
            }
            .container {
                width: fit-content;
                margin: 0 auto;
                font-family: sans-serif;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h3>Random Fat Woman Pic</h3>
            <div>Python Version: {{py_version}}</div>
            <br>
            <img src="{{url}}" alt="image here">
            <p><small>Courtesy: <a href="https://www.instagram.com/">Instagram</a></small></p>
        </div>
    </body>
</html>
